
  html{
    overflow-y:scroll;
    height: 100%;
    background-color: #BCC6CC;
  }
  .container{
    width: 100%;
    height: inherit;
  }
  body{
    min-height: 100%;
    width: 70%;
    margin:auto;
  }
  #keyword-form{
    padding-top: 2em;
    margin:auto;
  }
  #image-list{
    width: 90%;
    height: inherit;
    border-radius: 25px;
    background-color: #F9F8F6;
  }
  img{
    padding: 5%;
    max-width: 75%;
    max-height: 75%;
  }
  img:hover{
    cursor: pointer;
  }
